*, *:before, *:after {
  box-sizing: border-box;
}

.game {
  max-width: 500px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.body {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.left {
  border: thin solid white;
  width: 50%;
  text-align: center;
}

.right {
  border: thin solid white;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.number {
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;
}

.star {
  display: inline-block;
  margin: 0 15px;
}

.star:after {
  content: "\2605";
  font-size: 45px;
}
